.btn {
  display: inline-block;
  border-radius: 50%;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 6px;
  border: 1px solid #b9d316;
  box-shadow: 2px 4px 4px rgb(0 0 0 / 20%);
  background: #b8bb03;
  font-size: 1.5em;
  font-weight: bold;

  &:before,
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: inset 0 3px 8px hsl(0deg 0% 100% / 60%);
    border: 1px solid yellow;
  }
}

.btn-down {
  border: 0;
  border-radius: 50%;

  &:before {
    box-shadow: inset 0 -3px 8px hsl(0deg 0% 100% / 60%);
  }
  
  &:after {
    box-shadow: inset 0 5px 5px rgb(0 0 0 / 60%);;
  }
}


.small {
  width: 36px;
  height: 36px;
}

.btn-label {
  font-size: 0.7em;
}
