
.panel {
  margin: 0 12px 18px;
}

.piece {
  margin-top: 12px;
}

.digital {
  font-family: 'digital-7';
  font-size: 2em;
  text-align: right;
}
.label {
  text-align: left;
  font-size: 0.7em;
}
.padding {
  color: lightgray;
}

.pf-row {
  margin: -4px 0 -8px;
}