@font-face {
  font-family: 'digital-7';
  src: url('../assets/fonts/digital-7.ttf');
}

@font-face {
  font-family: 'digital-7-italic';
  src: url('../assets/fonts/digital-7\ \(italic\).ttf');
}

@font-face {
  font-family: 'digital-7-mono';
  src: url('../assets/fonts/digital-7\ \(mono\).ttf');
}

@font-face {
  font-family: 'digital-7-mono-italic';
  src: url('../assets/fonts/digital-7\ \(mono\ italic\).ttf');
}