<section>
  <div class="row row-around align-base">
    <div class="ml mt">
      <div>
        <app-button action="Start/Pause"></app-button>
      </div>
      <div class="space-t">
        <app-button action="SOUND" size="small" class="mb"></app-button>
      </div>
      <div class="space-t">
        <app-button action="RESET" size="small"></app-button>
      </div>
    </div>

    <div>
      <div class="mb">
        <app-button action="ROTATE">↻</app-button>
      </div>
      <div class="row row-around">
        <app-button action="LEFT" class="mr">←</app-button>
        <div class="font-48">+</div>
        <app-button action="RIGHT" class="ml">→</app-button>
      </div>
      <div class="mt">
        <app-button action="DROP">↓</app-button>
      </div>
    </div>
  </div>
</section>