section {
  margin: 15px;
}

.row {
  display: flex;
  
  margin: 12px 24px;
  align-items: center;

  .no-margin {
    margin: 0;
  }
}

.flex { display: flex; }

.align-base { align-items: baseline; }

.row-between { justify-content: space-between; }

.row-around { justify-content: space-around; }

.row-align-baseline { align-items: baseline; }

.font-48 { font-size: 48px;}

.mr { margin-right: 5px; }
.ml { margin-left: 5px; }
.mt { margin-top: -25px; }
.mb { margin-bottom: -20px; }

.space-t { margin-top: 12px; }

.movements { width: 50%; max-width: 160px; }
.horizontal { margin-top: 18px; margin-bottom: 18px; }