<section>
  <div class="row row-around row-align-baseline">
    <div>
      <div class="row">
        <app-power-button></app-power-button>
        <app-reset-button></app-reset-button>
        <app-sound-button></app-sound-button>
        <app-speed-level-button></app-speed-level-button>
      </div>
      <div class="row row-between">
        <app-start-button></app-start-button>
        <app-movement-button action="DROP" [event]="Drop" keyEvent=" " size="normal"></app-movement-button>
      </div>
    </div>
    
    <div class="movements">
      <div class="mb">
        <app-movement-button [event]="RotateClockwise" keyEvent="ArrowUp">↻</app-movement-button>
      </div>
      <div class="flex row-around horizontal">
        <app-movement-button [event]="Left" keyEvent="ArrowLeft" class="mr">⤝</app-movement-button>
        <div class="font-48">+</div>
        <app-movement-button [event]="Right" keyEvent="ArrowRight" class="ml">⤞</app-movement-button>
      </div>
      <div class="mt">
        <app-movement-button [event]="Down" keyEvent="ArrowDown">⬇</app-movement-button>
      </div>
    </div>
  </div>
</section>