<section>
  <div class="row row-around">
    <div class="ml">
      <div>
        <app-start-button></app-start-button>
      </div>
      <div class="space-t">
        <app-sound-button class="mb"></app-sound-button>
      </div>
      <div class="space-t">
        <app-reset-button></app-reset-button>
      </div>
      <div class="space-t">
        <app-power-button></app-power-button>
      </div>
    </div>

    <div>
      <div class="mb">
        <app-movement-button action="ROTATE" [event]="RotateClockwise">↻</app-movement-button>
      </div>
      <div class="row row-around">
        <app-movement-button action="LEFT" [event]="Left" class="mr">⤝</app-movement-button>
        <div class="font-48">+</div>
        <app-movement-button action="RIGHT" [event]="Right" class="ml">⤞</app-movement-button>
      </div>
      <div class="mt">
        <app-movement-button action="DOWN" [event]="Down">↓</app-movement-button>
      </div>
      <div class="">
        <app-movement-button action="DROP" [event]="Drop">⤓</app-movement-button>
      </div>
    </div>
  </div>
</section>